.Contect {
    width: 100%;
    background: url('../bg/contact.png') no-repeat;
    background-position: bottom right;

    .form {
        box-shadow: #63636333 0px 2px 8px 0px;
        padding: 40px 30px;
        background: #fff;
        border-radius: 10px;
        width: 80%;

        .form_heading {
            font-weight: bold;
            font-size: 20px;
            padding-bottom: 10px;
            color: #413e3e;
        }

        .group {
            width: 100%;
            margin: 10px auto;
        }

        .input {
            border: none;
            color: #000000af;
            font-size: 0.7rem;
            background-color: transparent;
        }

        .input-border {
            position: absolute;
            // background: var(--border-after-color);
            width: 0%;
            height: 2px;
            bottom: 0;
            left: 0;
            transition: width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
        }

        textarea {
            width: 100%;
        }

        .input:focus {
            outline: none;
        }

        .input:focus+.input-border {
            width: 100%;
        }

        .form_control {
            position: relative;
            border-bottom: 1px solid rgba(5, 5, 5, 0.085);
            --width-of-input: 300px;
        }

        .input-alt {
            font-size: 1rem;
            padding-block: 0.8em;
        }

        .input-border-alt {
            height: 3px;
            background: linear-gradient(90deg, #FF6464 0%, #FFBF59 50%, #ffffff 100%);
            transition: width 0.4s cubic-bezier(0.42, 0, 0.58, 1.00);
        }

        .input-alt:focus+.input-border-alt {
            width: 100%;
        }
    }
}

.email_card {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 15px;
    padding: 20px 30px;
    background: #fff;
    margin-top: 35px;
    cursor: pointer;

    .title {
        font-weight: bold;
        color: #f6880a;
        font-family: "Yeseva One", cursive;
    }

    .icon {
        width: 50px;
        height: 50px;
        border-radius: 8px;
        // background: #f6880a;
        background: #ddd;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #f6880a;
    }

}