// Mixins
// Variables
$color: #fff;
$dark: #000;
$alpha: 0.3;
$cta-color: #f6880a;

@mixin heading-styles {
    font-family: 'Yeseva One', cursive;
    font-weight: 900;
    color: #fafafa;
    line-height: 1.2;

    span {
        color: #f6880a;
    }

    span.hide {
        display: inline-block;
        width: 0px;
        color: transparent;
    }
}

@mixin hero-heading-styles {
    @include heading-styles;
    font-size: 70px;

    @media screen and (max-width: 768px) {
        font-size: 50px;
    }

    @media screen and (max-width: 425px) {
        font-size: 40px;
    }
}

@mixin hero-subheading-styles {
    @include heading-styles;
    font-size: 50px;

    @media screen and (max-width: 768px) {
        font-size: 40px;
    }

    @media screen and (max-width: 425px) {
        font-size: 30px;
    }
}

@mixin hero-intro-styles {
    min-width: 30%;

    span {
        color: #f6880a;
    }
}

@mixin desc-styles {
    font-size: 18px;
    text-align: center;
    color: #fff;
    font-family: 'Yeseva One', cursive;
}

@mixin masking-animation {
    &::before {
        content: "";
        position: absolute;
        width: 500px;
        height: 500px;
        transform: translate(0%, -40%);
        top: 50%;
        left: 0%;
        background: url('../bg/big-planet.webp') no-repeat center center/cover;
        animation: aboutMask 1s linear;
    }
}

// Code with mixins
main {
    width: 100%;
    height: auto;
}

.main {
    width: 100%;
}

.main-container {
    width: 100%;
    height: 100vh;
    position: relative;
}

header {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
    width: 100%;
    right: 0px;
    padding: 30px 0px;

    .logo {
        color: #fafafa;
        font-size: 45px;
        font-family: 'Permanent Marker', cursive;
    }

    .link {
        margin: 0px 5px;

        a {
            color: #ddd;
            padding: 10px 15px;
            text-transform: capitalize;
            font-family: 'Yeseva One', cursive;
        }
    }
}

.hero {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 5;
    width: 100%;
    height: 100%;
    background: url('../image/hero_one.jpg') no-repeat center center/cover;
    background-attachment: fixed;
}

.hero-section {
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.6);

    h1 {
        @include hero-heading-styles;
    }

    h2 {
        @include hero-subheading-styles;
    }

    h3 {
        font-size: 40px;
        color: #fff;
        font-family: 'Belanosima', sans-serif;

        span {
            @include heading-styles;
            color: #f6880a;
            font-weight: bold;
        }
    }

    @media screen and (max-width : 768px) {
        h1 {
            font-size: 50px;
        }

        h2 {
            font-size: 40px;
        }

        h3 {
            font-size: 30px;
        }
    }

    @media screen and (max-width : 425px) {
        h3 {
            span {
                display: block;
                color: transparent;
                line-height: 0px;
            }
        }

        h2 {
            font-size: 30px;
        }

        h1 {
            font-size: 40px;
        }
    }
}

.hero-intro {
    @include hero-intro-styles;
}

.about {
    width: 100%;
    overflow: hidden;
    height: 100%;
    position: relative;

    .heading {
        text-align: center;
        @include heading-styles;
        font-size: 45px;
        line-height: 1.2;

        span {
            color: #f6880a;
        }

        span.hide {
            display: inline-block;
            width: 0px;
            color: transparent;
        }
    }

    .heading.typewriter {
        padding: 25px 0px;
    }

    .desc {
        @include desc-styles;
    }
}

.about-masking {
    width: 100%;
    height: 100%;
    position: relative;
    background: url('../bg/bg-1.webp') no-repeat center center/cover;

    @include masking-animation;
}

@keyframes aboutMask {
    0% {
        transform: translate(0%, -0%) scale(0.8) rotate(0deg);
    }

    50% {
        transform: translate(0%, -20%) scale(0.9) rotate(0deg);
    }

    100% {
        transform: translate(0%, -40%) scale(1) rotate(0deg);
    }
}

.about-back {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

@media screen and (max-width : 768px) {
    .nav-desktop {
        display: none;
    }

    header {
        .logo {
            font-size: 36px;
        }
    }

    .about-masking {
        &::before {
            width: 300px;
            height: 300px;
        }
    }
}

@media screen and (max-width : 425px) {
    header {
        .logo {
            font-size: 28px;
        }
    }

    .about {
        .heading {
            line-height: 1.2;
        }

        .heading.typewriter {
            padding: 20px 0px;
            font-size: 28px;

            b {
                font-size: 40px;
            }
        }
    }
}



// -------------- about ----------------
.Experience {
    background: #ffffff;
    width: 100%;
}

.Experience-heading {
    font-size: 60px;
}

.Experience-desc {
    font-size: 20px;
}

.about-img {
    width: 100%;
    position: relative;
    right: -50px;
}

.swiper {
    width: 240px;
    height: 320px;
}

.skills-info {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills {
    .swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 18px;
        font-size: 22px;
        font-weight: bold;
        color: #fff;
    }
}
.skills-heading{
    font-size: 20px;
    font-weight: 600;
    color: #f6880a;
}